name: Executar Notebook Colab

on:
  push:
    branches: [ "main" ]

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependências
        run: pip install notebook nbconvert numpy pillow matplotlib opencv-python

      - name: Descompactar imagens
        run: |
             pip install gdown
             gdown --id 1N4hax6GZIM0aITx4jkH11wUVLIif71tq -O dataset.zip
             unzip dataset.zip -d data/

      - name: Executar notebook
        run: jupyter nbconvert --to notebook --execute ML2_Cacau.ipynb
